body {
    color: #777777;
    margin: 0;
    padding: 0;
    background-image: url("../images/bg.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.5;
}

.wrapper {
    width: 100%;
    min-height: calc(100vh - 60px);
}

header {
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #cccccc;
    overflow: hidden;
}

.headerContent {
    max-width: 980px;
    margin: auto;

}


nav {
    float: right;
    margin-top: 25px;
    ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    border-right: 1.5px solid #e0e0e0;
}

li a {
    text-align: center;
    text-decoration: none;
    color: #777777;
    padding: 0 10px 0 5px;
}

li.last {
    border: 0;
    padding: 0;
}



.content {
    max-width: 930px;
    background: #fff;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
    border: 1px solid #dddddd;
    padding: 10px 25px 25px 25px;
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    background-color: #666666;
    width: 100%;
    color: #fff;
    border-top: 8px solid #4aaaa5;
    height: 50px;
}

h1,
h2 {
    font-family: 'Georgia', Times, Times, serif;
}

#logo {
    float: left;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 70px;
    padding: 0 5px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
    margin: 0;



}

h2 {
    color: #4aaaa5
}

.profilePic {
    float: left;
    margin-right: 20px;
}

.portImgRow {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.portImgContainer {
    position: relative;
    width: 33%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.portImg {
    width: 100%;
    margin-bottom: 10px;
}


hr {
    margin-bottom: 25px;
    height: 3px;
    background-color: #e0e0e0;
    border: 0;
}

textarea {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    resize: vertical;
    min-height: 50px;
    width: 95%;
}

input {
    height: 20px;
    width: 95%;
}

input#submit {
    background-color: #4aaaa5;
    color: #fff;
    border: 0;
    padding: 5px 10px 5px 10px;
    height: 30px;
    width: 80px;
}

::placeholder {
    color: #d6d6d6;
    opacity: 1;
}

/* MEDIA QUERIES */

@media screen and (max-width: 980px) {
    .content {
        width: 85%;
    }

    .headerContent {
        width: 90%;
    }

}

@media screen and (max-width: 768px) {
    .headerContent {
        width: 100%;
    }

    .content {
        width: 85%;
        margin: 20px auto 0 auto;
    }

    #logo {
        width: 100%;
        line-height: 50px;
        padding: 0;
    }

    nav {
        text-align: center;
        clear: both;
        float: none;
        margin-top: 50px;
    }

    ul {
        padding: 10px 0 10px 0;
    }

    .portImgRow {
        display: block;

        margin-right: -15px;
        margin-left: -15px;
    }

    .portImgContainer {
        width: 50%;
        float: left;
    }

    .portImg {
        margin-bottom: 20px;
    }


}

@media screen and (max-width: 640px) {
    .content {
        width: 95%;
        margin: 20px auto 0 auto;
        padding: 1% 2% 2% 2%;
    }

    .headerContent {
        width: 100%;
        margin: auto;
    }

    .profilePic {
        width: 100%;
        margin: auto;
        float: none;

    }

    .containerAboutImg {
        margin: auto;
        width: 80%;
    }


    .portImgContainer {
        width: 85%;
        float: none;
        margin: auto;
    }

    .portImg {
        margin-bottom: 20px;
    }

    p {
        padding: 0 15px 0 15px;
    }

    h2 {
        text-align: center;
    }





}